*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.saree-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.saree-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  text-align: left;
}

.saree-card img {
  max-width: 100%;
  height: auto;
}